{% extends "layout/layout.html" %}
{% block title %}Travel reservation | Homepage{% endblock title %}
{% block main %}

<div class = "row">
    <div class ="col-sm-8">
        <div name = "details" class = "p-sm-4">
            {% if 'auth_app.delete_activities' in perms %}
                <div class ="d-flex gap-4 mb-sm-4">
                    <a href = "{% url "edit_activity" activity.id %}" class = "btn" style = "background-color: #F82D20;color : white">Edit</a>
                    <a href = "{% url 'delete_activity' activity.id %}" class = "btn" style = "background-color: #F82D20; color : white">Delete</a>
                </div>
            {% endif %}
            <h2>{{activity.name}}</h2>
            <h4>Description</h4>
            <p>
                {{activity.description}}
            </p>
            {% comment %} <h4>Address</h4>
            <p>407/1 kollyanpur south paikpara sp roa, mirpur 1, dhaka 1216</p> {% endcomment %}
        
            <div>
                {% comment %} <h6 style = "color : #F82D20" class = "mt-sm-5">Flight from : {{activity.from_dst}}</h6>
                <h6 style = "color : #F82D20">Flight to : {{flight.to_dst}}</h6> {% endcomment %}
                
                <h6 style = "color : #F82D20">Price : ${{activity.price}} USD</h6>
            </div>
        
            <script>
                function activity_not_available_alert(){
                    alert("Sorry this product is out of stock. Wait for somedays to try again !!");
                }
            </script>

            <div class = "d-flex gap-5 mt-sm-5">
                {% if activity.stock == 0 %}
                    <a class = "btn" style = "background-color : #F82D20;color : white" onclick = "activity_not_available_alert()">Add to Package</a>
                {% else %}
                    <a href = {% url 'select_activity_for_custom_package' package.id activity.id  %} class = "btn" style = "background-color : #F82D20;color : white">Add to Package</a>
                {% endif %}
                {% comment %} <a href = "#" class = "btn" style = "background-color : #F82D20;color : white">Buy now</a> {% endcomment %}
            </div>
        </div>
        
    </div>
    <div class = "col-sm-4 p-sm-4">
        <img  src="{{activity.product_image_url}}" style ="width : 100%" alt="something went wrong">
    </div>
</div>

{% endblock main %}