{% extends "layout/layout.html" %}
{% block title %}Travel reservation | Homepage{% endblock title %}
{% block main %}

<div class = "d-flex justify-content-center align-items-center" style = "height : 100vh">
    <form style = "width : 20rem;padding: 2rem;" class = "shadow" method = "get" action = "{% url 'add_new_flight' %}">
        {% csrf_token %}
        <input type = "text" class = "form-control" placeholder = "Enter product name" name= "name"/>
        <input type = "text" class = "form-control mt-sm-2" name= "from" placeholder = "Enter the place you starting from"/>
        <input type = "text" class = "form-control mt-sm-2" name= "to" placeholder = "Enter the destination place"/>
        <input type = "date" class = "form-control mt-sm-2" name= "travel_date" />
        <input type = "text" class = "form-control mt-sm-2" placeholder = "Enter product title" name= "title"/>
        <input type = "text" class = "form-control mb-sm-2 mt-sm-2" placeholder = "Enter flight image" name= "image"/>
        Enter the flight price <br>
        <input type = "number" class = "form-control mb-sm-2 mt-sm-2" name= "price"/>
        Enter the flight stock<br>
        <input type = "number" class = "form-control mt-sm-2" name= "stock"/>
        <textarea class = "form-control mt-sm-2" placeholder = "Enter hotel description" name= "description"></textarea>

        <input type = "submit" value = "Add flight" class ="btn mt-sm-4" style = "background-color: #F82D20;color : white"/>
    </form>
</div>

{% endblock main %}
