{% extends "layout/layout.html" %}
{% block title %}Travel reservation | Homepage{% endblock title %}
{% block main %}

<div name = "agent_section">
    <div class ="d-flex flex-column align-items-center">
        <form class = "d-flex gap-4 mt-sm-5" style = "width: 50rem">
            <input type = "text" class = "form-control" placeholder = "Search flights"/>
            <input type = "submit" class ='btn' style = "background-color : #F82D20;color : white" value= "Search"/>
        </form>

        <ul class="nav shadow" style = "border-radius : 0.5rem">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'flights' %}">Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'activities' %}">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'packages' %}">Packages</a>
            </li>
            {% if user.usermodelextended.role.role != 1 %}
            <li class="nav-item" style ="background-color :#F82D20;border-top-right-radius:.5rem;border-bottom-right-radius:0.5rem">
                <a class="nav-link text-light" href="{% url 'custom_packages' %}">Custom Packages</a>
            </li>
            {% endif %}
            
        </ul>
    </div>

    <div class = 'p-sm-4'>
        <h5 style ="border-bottom: 4px solid #F82D20;display: inline">Custom Packages<h5> 
        {% if 'auth_app.add_custompackages' in perms %}
            <div>
                <a href = "{% url 'add_custom_packages' %}" class = "btn mt-sm-4" style = "background-color: #F82D20;color : white">Add custom package</a>
            </div>
        {% endif %}

        <div name = "card-group" class ="d-flex justify-content-center gap-2">
            
            {% for item in packages %}
               {% if item.is_done %}
                <a href = "{% url 'custom_package_details' item.id %}" style = "text-decoration: none;color : #343333">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h3 class="card-title text-center">{{item.name}}</h3>
                        <p class="card-text text-center">{{item.title}}</p>
                        <p class="card-text text-center">Hotels - {{item.hotel_qty}}x -  ${{item.hotel.price}} USD</p>
                        <p class="card-text text-center">Flights - {{item.flight_qty}}x - ${{item.flight.price}} USD</p>
                        <p class="card-text text-center">Activities - {{item.activities.count}}x - ${{item.activities.price}} USD</p>
                    </div>
                    <div class = "card-footer text-center p-sm-2" style = "color :#F82D20">
                        {% comment %} <p>6 in stock</p> {% endcomment %}
                        <p>$ {{item.price}} USD</p>
                    </div>
                    </div>
                </a>
               {% endif %}
            {% endfor %} 

            

        </div>
    </div>

</div>



{% endblock main %}