{% extends "layout/layout.html" %}
{% block title %}Travel reservation | Login{% endblock title %}
{% block main %}

<div class = "d-flex justify-content-center align-items-center" style = "height: 100vh;">
    <form style = "width : 20rem" class = "shadow-sm p-sm-2 text-center" method = "POST" action = "{% url "do_authenticate" %}">
        {% if messages %}
            <ul class="messages text-center p-sm-1" style = "list-style-type:none;background-color: red;color :white;display:flex;justify-content:center;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% csrf_token %}

        
        <input type = "email" placeholder="Enter your user name" class = "form-control" name = "username"/>
        <input type = "password" placeholder="Enter your password" class = "form-control mt-sm-2" name = "password"/>
        <input type = "submit" class = "btn btn-danger mt-sm-4 form-control" style = "background-color : #F82D20" value= "Login"/>
        
        <div class = "d-flex flex-column mt-sm-4">
            <a href = "{% url "signup" %}">Don't have an account ?</a>
            <a href = "{% url "pass_forgot" %}">Forget password ?</a>

        </div>
    </form>
</div>

{% endblock main %}