{% load static %}
<html>
    <head>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



        <title>
            {% block title %}
            {{ title |default:"Untitled Page" }}
            {% endblock title %}

    </title>

    <script>
      $(document).ready(() => {
          $("#spinner").hide(1000, ()=> {
              $("#spinner-container").css("height",0);
              $("#card-grp").fadeIn(1000);
          });

        
          
      });
      function selectHotel(hotel_id,name,title,price,qty,image_url) {
        document.getElementById("hotel_input").value = hotel_id;
        sessionStorage.setItem("hotel_id",hotel_id);
        sessionStorage.setItem("hotel_name",name);
        sessionStorage.setItem("hotel_title",title);
        sessionStorage.setItem("hotel_price",price);
        sessionStorage.setItem("hotel_qty",qty);
        sessionStorage.setItem("hotel_image_url",image_url);

      }
  </script>

    <style>
        * {
            font-family: 'Viga', sans-serif;
        }
    </style>
    </head>    
    <body>
        {% if user.is_authenticated %}
          <nav class="navbar navbar-expand-sm shadow-sm" style = "background-color : #F82D20;color : white">
            <div class="container-fluid d-flex justify-content-between">
              <a href = "/" style = "text-decoration: none;color : white"><span>Navbar</span></a>
              <ul class="navbar-nav">
                <div class="dropdown">
                  <a class="btn border-0 dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img style = "height : 2rem;width :2rem" class ="rounded-circle" src = "{% static user.usermodelextended.image_url %}"/>
                    {{user.first_name}}
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if user.usermodelextended.role.role == 1 %}
                      <li><a class="dropdown-item" href="{% url 'my_orders' %}">Order Requests</a></li>
                      <li><a class="dropdown-item" href="{% url 'histories' %}">Histories</a></li>
                      <li><a class="dropdown-item" href="{% url 'user_contacts' %}">User contacts</a></li>
                      <li><a class="dropdown-item" href="{% url 'revenue' %}">Revenues</a></li>

                      <li><a class="dropdown-item" href="{% url 'pass_change' %}">Change Password</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url "my_orders" %}">My Orders</a></li>
                      <li><a class="dropdown-item" href="#">My Histories</a></li>
                      <li><a class="dropdown-item" href="{% url 'pass_change' %}">Change Password</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    {% endif %}
                  </ul>
                </div>
              </ul>
            </div>
          </nav>
        {% else %}
          <nav class="navbar navbar-expand-sm shadow-sm" style = "background-color : #F82D20;color : white">
            <div class="container-fluid d-flex justify-content-between">
              <a href = "/" style = "text-decoration: none;color : white"><span>Navbar</span></a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-light" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="/signup">Signup</a>
                </li>
              </ul>
            </div>
          </nav>
        {% endif %}

        {% block main %}
        {% endblock main %}
    </body>
</html>

